html, body { height: 50%; width: 50%; margin: 0; }

#div1{
	background-color: cornsilk;
	height:60%;
}

#div2{
	background-color: lightskyblue;
	height:100px;
	padding:20px;
	overflow:scroll
}

#div3{
	background-color: mistyrose;
	height:60px;
}